@charset "ISO-8859-1";
ul{
  top:49px;
  bottom:10px;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: rgb(51, 80, 176);
  position: fixed;
  overflow: auto;
}
li a{
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
}
ul li:hover {
  background-color:red;
  color: white;
}
div.content {
  margin-left: 200px;
  padding: 1px 16px;
 }