<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">

	<!-- ########################## lister class mapping #################### -->
	<listener>
		<listener-class>bank.hdfc.dao.ConnectionTool</listener-class>
	</listener>
	<listener>
		<listener-class>bank.hdfc.pack.StartTimer</listener-class>
	</listener>
	<!-- ########################## resource reference #################### -->
	<resource-ref>
		<res-ref-name>jdbc/postgres</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>

	<!-- ########################## servlet mapping #################### -->

	<servlet>
		<servlet-name>customerLogin</servlet-name>
		<servlet-class>bank.hdfc.servlet.verification.CustomerLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>customerLogin</servlet-name>
		<url-pattern>/customerVerify</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>changePassword</servlet-name>
		<servlet-class>bank.hdfc.servlet.customer.ChangePassword</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>changePassword</servlet-name>
		<url-pattern>/changePasswordServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>logoutServlet</servlet-name>
		<servlet-class>bank.hdfc.servlet.customer.Logout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>logoutServlet</servlet-name>
		<url-pattern>/logoutServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>payBillServlet</servlet-name>
		<servlet-class>bank.hdfc.servlet.account.PayBill</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>payBillServlet</servlet-name>
		<url-pattern>/payBillServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>transferServlet</servlet-name>
		<servlet-class>bank.hdfc.servlet.account.Transfer</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>transferServlet</servlet-name>
		<url-pattern>/transferServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>updateBeneficiary</servlet-name>
		<servlet-class>bank.hdfc.servlet.account.UpdateBeneficiary</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>updateBeneficiary</servlet-name>
		<url-pattern>/updateBeneficiary</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>addBeneficiary</servlet-name>
		<servlet-class>bank.hdfc.servlet.account.AddBeneficiary</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>addBeneficiary</servlet-name>
		<url-pattern>/addBeneficiary</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>deleteBeneficiary</servlet-name>
		<servlet-class>bank.hdfc.servlet.account.DeleteBeneficiary</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>deleteBeneficiary</servlet-name>
		<url-pattern>/deleteBeneficiary</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>changeMPin</servlet-name>
		<servlet-class>bank.hdfc.servlet.account.ChangeMPin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>changeMPin</servlet-name>
		<url-pattern>/changeMPin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>changeStatus</servlet-name>
		<servlet-class>bank.hdfc.servlet.account.ChangeStatus</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>changeStatus</servlet-name>
		<url-pattern>/changeStatus</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>payLoanServlet</servlet-name>
		<servlet-class>bank.hdfc.servlet.loan.PayLoan</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>payLoanServlet</servlet-name>
		<url-pattern>/payLoanServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>cancelDeposit</servlet-name>
		<servlet-class>bank.hdfc.servlet.deposit.CancelDeposit</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>cancelDeposit</servlet-name>
		<url-pattern>/cancelDeposit</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>openDepositServlet</servlet-name>
		<servlet-class>bank.hdfc.servlet.account.OpenDeposit</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>openDepositServlet</servlet-name>
		<url-pattern>/openDepositServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>verify</servlet-name>
		<servlet-class>bank.hdfc.servlet.verification.EmployeeVerify</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>verify</servlet-name>
		<url-pattern>/verify</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>userSetLimit</servlet-name>
		<servlet-class>bank.hdfc.servlet.account.SetLimit</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>userSetLimit</servlet-name>
		<url-pattern>/userSetLimit</url-pattern>
	</servlet-mapping>
	
	
		<servlet>
		<servlet-name>addMemberServlet</servlet-name>
		<servlet-class>bank.hdfc.servlet.employee.AddMember</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>addMemberServlet</servlet-name>
		<url-pattern>/addMemberServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>createAccountServlet</servlet-name>
		<servlet-class>bank.hdfc.servlet.employee.CreateAccount</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>createAccountServlet</servlet-name>
		<url-pattern>/createAccountServlet</url-pattern>
	</servlet-mapping>

		<servlet>
		<servlet-name>depositMoneyServlet</servlet-name>
		<servlet-class>bank.hdfc.servlet.employee.DepositMoney</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>depositMoneyServlet</servlet-name>
		<url-pattern>/depositMoneyServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>giveLoanServlet</servlet-name>
		<servlet-class>bank.hdfc.servlet.employee.GiveLoan</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>giveLoanServlet</servlet-name>
		<url-pattern>/giveLoanServlet</url-pattern>
	</servlet-mapping>

		<servlet>
		<servlet-name>issueDebitCardServlet</servlet-name>
		<servlet-class>bank.hdfc.servlet.employee.IssueDebitCard</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>issueDebitCardServlet</servlet-name>
		<url-pattern>/issueDebitCardServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>addBranchServlet</servlet-name>
		<servlet-class>bank.hdfc.servlet.admin.AddBranch</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>addBranchServlet</servlet-name>
		<url-pattern>/addBranchServlet</url-pattern>
	</servlet-mapping>


	<!-- ########################## jsp file mapping #################### -->

	<servlet>
		<servlet-name>indexPage</servlet-name>
		<jsp-file>/index.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>indexPage</servlet-name>
		<url-pattern>/indexPage</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>logout</servlet-name>
		<jsp-file>/COMMON/logout.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>logout</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>homePage</servlet-name>
		<jsp-file>/CUSTOMER/home.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>homePage</servlet-name>
		<url-pattern>/homePage</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>profilePage</servlet-name>
		<jsp-file>/COMMON/profile.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>profilePage</servlet-name>
		<url-pattern>/profilePage</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>accounts</servlet-name>
		<jsp-file>/CUSTOMER/account.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>accounts</servlet-name>
		<url-pattern>/accounts</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>accountDetail</servlet-name>
		<jsp-file>/ACCOUNT/accountDetail.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>accountDetail</servlet-name>
		<url-pattern>/accountDetail</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>transfer</servlet-name>
		<jsp-file>/ACCOUNT/transfer.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>transfer</servlet-name>
		<url-pattern>/transfer</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>payBill</servlet-name>
		<jsp-file>/ACCOUNT/payBill.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>payBill</servlet-name>
		<url-pattern>/payBill</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>transaction</servlet-name>
		<jsp-file>/ACCOUNT/transaction.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>transaction</servlet-name>
		<url-pattern>/transaction</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>customerErrorPage</servlet-name>
		<jsp-file>/ERROR/customerErrorPage.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>customerErrorPage</servlet-name>
		<url-pattern>/customerErrorPage</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>beneficiary</servlet-name>
		<jsp-file>/ACCOUNT/beneficiary.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>beneficiary</servlet-name>
		<url-pattern>/beneficiary</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>debitCard</servlet-name>
		<jsp-file>/ACCOUNT/debitCard.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>debitCard</servlet-name>
		<url-pattern>/debitCard</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>loan</servlet-name>
		<jsp-file>/CUSTOMER/loan.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>loan</servlet-name>
		<url-pattern>/loan</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>loanDetail</servlet-name>
		<jsp-file>/LOAN/loanDetail.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>loanDetail</servlet-name>
		<url-pattern>/loanDetail</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>payLoan</servlet-name>
		<jsp-file>/LOAN/payLoan.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>payLoan</servlet-name>
		<url-pattern>/payLoan</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>loanTransaction</servlet-name>
		<jsp-file>/LOAN/loanTransaction.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>loanTransaction</servlet-name>
		<url-pattern>/loanTransaction</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>openDeposit</servlet-name>
		<jsp-file>/ACCOUNT/openDeposit.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>openDeposit</servlet-name>
		<url-pattern>/openDeposit</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>deposit</servlet-name>
		<jsp-file>/CUSTOMER/deposit.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>deposit</servlet-name>
		<url-pattern>/deposit</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>employeeLogin</servlet-name>
		<jsp-file>/employeeLogin.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>employeeLogin</servlet-name>
		<url-pattern>/employeeLogin</url-pattern>
	</servlet-mapping>
	
		<servlet>
		<servlet-name>addCustomer</servlet-name>
		<jsp-file>/EMPLOYEE/addCustomer.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>addCustomer</servlet-name>
		<url-pattern>/addCustomer</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>addEmployee</servlet-name>
		<jsp-file>/EMPLOYEE/addEmployee.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>addEmployee</servlet-name>
		<url-pattern>/addEmployee</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>createAccount</servlet-name>
		<jsp-file>/EMPLOYEE/createAccount.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>createAccount</servlet-name>
		<url-pattern>/createAccount</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>depositMoney</servlet-name>
		<jsp-file>/EMPLOYEE/depositMoney.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>depositMoney</servlet-name>
		<url-pattern>/depositMoney</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>employeeLogout</servlet-name>
		<jsp-file>/EMPLOYEE/employeeLogout.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>employeeLogout</servlet-name>
		<url-pattern>/employeeLogout</url-pattern>
	</servlet-mapping>
	

		<servlet>
		<servlet-name>giveLoan</servlet-name>
		<jsp-file>/EMPLOYEE/giveLoan.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>giveLoan</servlet-name>
		<url-pattern>/giveLoan</url-pattern>
	</servlet-mapping>

		<servlet>
		<servlet-name>issueDebitCard</servlet-name>
		<jsp-file>/EMPLOYEE/issueDebitCard.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>issueDebitCard</servlet-name>
		<url-pattern>/issueDebitCard</url-pattern>
	</servlet-mapping>

		<servlet>
		<servlet-name>viewCustomer</servlet-name>
		<jsp-file>/EMPLOYEE/viewCustomer.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>viewCustomer</servlet-name>
		<url-pattern>/viewCustomer</url-pattern>
	</servlet-mapping>

		<servlet>
		<servlet-name>viewEmployee</servlet-name>
		<jsp-file>/EMPLOYEE/viewEmployee.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>viewEmployee</servlet-name>
		<url-pattern>/viewEmployee</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>assignManager</servlet-name>
		<jsp-file>/ADMIN/assignManager.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>assignManager</servlet-name>
		<url-pattern>/assignManager</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>addBranch</servlet-name>
		<jsp-file>/ADMIN/addBranch.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>addBranch</servlet-name>
		<url-pattern>/addBranch</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>viewBranch</servlet-name>
		<jsp-file>/ADMIN/viewBranch.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>viewBranch</servlet-name>
		<url-pattern>/viewBranch</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>employeeErrorPage</servlet-name>
		<jsp-file>/ERROR/employeeErrorPage.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>employeeErrorPage</servlet-name>
		<url-pattern>/employeeErrorPage</url-pattern>
	</servlet-mapping>
	


	<!-- ########################## filter mapping #################### -->


	<filter>
		<filter-name>loginVerify</filter-name>
		<filter-class>bank.hdfc.filter.LoginVerify</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>loginVerify</filter-name>
		<url-pattern>/accounts</url-pattern>
		<url-pattern>/homePage</url-pattern>
		<url-pattern>/accountDetail</url-pattern>
		<url-pattern>/transfer</url-pattern>
		<url-pattern>/payBill</url-pattern>
		<url-pattern>/transaction</url-pattern>
		<url-pattern>/beneficiary</url-pattern>
		<url-pattern>/loan</url-pattern>
		<url-pattern>/loanDetail</url-pattern>
		<url-pattern>/loanTransaction</url-pattern>
		<url-pattern>/openDeposit</url-pattern>
		<url-pattern>/payBillServlet</url-pattern>
		<url-pattern>/transferServlet</url-pattern>
		<url-pattern>/updateBeneficiary</url-pattern>
		<url-pattern>/addBeneficiary</url-pattern>
		<url-pattern>/deleteBeneficiary</url-pattern>
		<url-pattern>/changeMPin</url-pattern>
		<url-pattern>/changeStatus</url-pattern>
		<url-pattern>/payLoanServlet</url-pattern>
		<url-pattern>/cancelDeposit</url-pattern>
		<url-pattern>/openDepositServlet</url-pattern>
		<url-pattern>/userSetLimit</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>employeeFilter</filter-name>
		<filter-class>bank.hdfc.filter.EmployeeFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>employeeFilter</filter-name>
		<url-pattern>/createAccountServlet</url-pattern>
		<url-pattern>/depositMoneyServlet</url-pattern>
		<url-pattern>/giveLoanServlet</url-pattern>
		<url-pattern>/issueDebitCardServlet</url-pattern>
		<url-pattern>/addCustomer</url-pattern>
		<url-pattern>/addEmployee</url-pattern>
		<url-pattern>/createAccount</url-pattern>
		<url-pattern>/depositMoney</url-pattern>
		<url-pattern>/viewEmployee</url-pattern>
		<url-pattern>/viewCustomer</url-pattern>
		<url-pattern>/issueDebitCard</url-pattern>
	</filter-mapping>
	
	
	<filter>
		<filter-name>adminFilter</filter-name>
		<filter-class>bank.hdfc.filter.AdminFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>adminFilter</filter-name>
		<url-pattern>/addBranchServlet</url-pattern>
		<url-pattern>/assignManager</url-pattern>
		<url-pattern>/viewBranch</url-pattern>
		<url-pattern>/addBranch</url-pattern>
	</filter-mapping>

	
	
	
	
	<!-- ########################## ERROR PAGE #################### -->
	
	<error-page>  
  	<error-code>500</error-code>  
  	<location>/ERROR/sessionErrorPage.jsp</location> 
  	</error-page>
	
	
	
	
</web-app>